
/*Timeline*/
.timeline {
  display: flex;
}
.selection-circle {
  margin-right: 20px;
  margin-left: 20px;
}

.selection-circle input[type="radio"] {
  cursor: pointer;
  height: 15px;
  width: 15px;
  appearance: none;
  background-color: #5d7ea3;
  border-radius: 10px;
}

.selection-circle input[type="radio"]:hover {
  border: 1px solid #404040;
  background-color: #547aa5;
}

.selection-circle input[type="radio"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #5d7ea3;

  border-radius: 10px;
}

.selection-circle p {
  font-size: 1.2rem;
}

#imageTimeline {
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
  border: 1px solid #404040;
}

#contentTimeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#imageTimeline {
  max-width: 500px;
  max-height: 250px;
}

#contentTimelineText {
  height: 100%;
  width: min(600px, 90%);
  margin-top: 30px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.timeline-bar {
  margin-top: 10px;
  width: min(600px, 70%);
  background-color: #404040;
  height: 2px;
}

.buttonArrow {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
#arrowL {
  width: 80%;
}

#arroL:hover {
  box-shadow: 1px 1px 5px #000;
}

#arrowR {
  width: 80%;
  transform: rotate(180deg);
}

@media screen and (max-width: 780px) and (min-width: 670px) {
  header .header-container {
    margin-left: 20px;
  }

  .header-container h1 {
    margin-left: 20px;
    font-size: 1.2rem;
    margin-top: -30px;
  }

  main h2 {
    font-size: 1.1rem;
    margin-top: -0px;
  }
  #circle-2005 {
    display: none;
  }
}
@media screen and (max-width: 670px) and (min-width: 599px) {
  header .header-container {
    margin-left: 20px;
  }

  .header-container h1 {
    margin-left: 20px;
    font-size: 1.2rem;
    margin-top: -30px;
  }

  main h2 {
    font-size: 1.1rem;
    margin-top: -0px;
  }
  #circle-2005 {
    display: none;
  }
  #circle-2004 {
    display: none;
  }
}

@media screen and (max-width: 599px) and (min-width: 401px) {
  header .header-container {
    margin-left: 20px;
  }

  .header-container h1 {
    margin-left: 20px;
    font-size: 1.2rem;
    margin-top: -30px;
  }

  main h2 {
    font-size: 1.1rem;
    margin-top: -0px;
  }
  #circle-2005 {
    display: none;
  }
  #circle-2004 {
    display: none;
  }
  #circle-2003 {
    display: none;
  }
}

@media (max-width: 400px) {
  header .header-container {
    margin-left: 20px;
  }

  .header-container h1 {
    font-size: 1rem;
    margin-top: -80px;
    margin-left: 10px;
  }

  main h2 {
    font-size: 0.9rem;
  }
  #circle-2005 {
    display: none;
  }
  #circle-2004 {
    display: none;
  }
  #circle-2003 {
    display: none;
  }
  #circle-2002 {
    display: none;
  }
}
