header{
    display: flex;
    justify-content: start;
    width: 100%;
}

header .header-container{
    display: flex;
    margin-left: clamp(100px, 200px, 200px);
    justify-content: flex-start;
    margin-top: 50px;
    font-size: clamp(0.5rem, 0.9rem, 1.1rem);
    font-weight: 500;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 400;
}

/*Timeline*/
.timeline{
    display: flex;
    margin-top: 50px;
}
.selection-circle{
    margin-right: 75px;
}
.selection-circle p{
    font-size: 1.2rem;
}



@media (max-width: 780px) {
    header .header-container{
        margin-left: 20px;
    }

    .header-container h1{
        margin-left: 20px;
        font-size: 1.2rem;
        margin-top: -30px;
    }

    main h2{
        font-size: 1.1rem;
        margin-top: -0px;
    }
}