nav {
  width: 100%;
  height: 50px;
  background-color: #547aa5;
  font-size: 1.06rem;
  font-weight: 600;
  display: flex;
}
.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: clamp(10%, 10%, 20%);
}
.menu ul {
  display: flex;
}
.menu li {
  position: relative;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}
.menu li ul {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #547aa5;
  display: none;
}
.menu li:hover ul {
  display: block;
}
.menu li ul li {
  display: block;
  width: 180px;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

.toggle-menu {
  background-color: #547aa5;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.blackout{
  display: none;
}

.toggle-blackout{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
}

/*Menu tablet e mobile*/
@media (max-width: 780px) {
  nav {
    background-color: #fff;
  }
  .menu {
    visibility: hidden;
    background-color: black;
    height: 0%;
    width: 0px;
  }
  .line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
  }
  .toggle {
    position: fixed;    
    left: 0px;
    right: 0px;
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 33%, 49%);
  }
  .toggle a {
    text-decoration: none;
    color: #fff;
  }
  .toggle li {
    list-style: none;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
}
